body{
font-size:20px;
background-color: rgba(36,139,143,1);
/*background: rgba(173,247,250,1);
background: -moz-linear-gradient(45deg, rgba(173,247,250,1) 0%, rgba(36,139,143,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(173,247,250,1)), color-stop(100%, rgba(36,139,143,1)));
background: -webkit-linear-gradient(45deg, rgba(173,247,250,1) 0%, rgba(36,139,143,1) 100%);
background: -o-linear-gradient(45deg, rgba(173,247,250,1) 0%, rgba(36,139,143,1) 100%);
background: -ms-linear-gradient(45deg, rgba(173,247,250,1) 0%, rgba(36,139,143,1) 100%);
background: linear-gradient(45deg, rgba(173,247,250,1) 0%, rgba(36,139,143,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adf7fa', endColorstr='#248b8f', GradientType=1 );
*/

}

/* Change this to a gradient */
#background{
background-image:url('foallook2.jpg');
opacity: .5;
background-repeat: no-repeat;
background-position: center;
background-attachment:  fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:-10;
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    line-height: 46px;
    font-size: 40px;
    margin: 0 0 23px 0;
    }
h2 {
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    margin: 0 0 5px 0;
	
    }
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 23px;
    margin: 0 0 23px 0;
    }

#title{
float:right;
position:absolute;
bottom:0;
right:0;
font-size: 70px;
text-shadow: -1px 0 darkgrey, 0 1px darkgrey, 1px 0 darkgrey, 0 -1px darkgrey;
font-family: 'Dosis', sans-serif;
font-weight: 400;
padding:5px;
}

#subTitle{
position:absolute;
float:right;
bottom:0;
right:0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
	padding-right:5px;
	font-weight:500;
}

.centerbox{
margin-top:50px;
width:850px;
padding:10px;
position: absolute;
left: 50%;
margin-left: -425px
}

.sire{
border:none;
width:400px;
float:left;
text-align:center;
margin-top:100px;
}

.dam{
border:none;
width:400px;
float:right;
text-align:center;
margin-top:100px;
}

select{
outline: 0;
border-radius: 10px;
border:1px solid black;
background:none;
padding:5px;
width:250px;
font-family: 'Open Sans', sans-serif;
font-size: 17px;
}

label
{
width: 400px;
text-align: center;
margin-right: 0.5em;
display: block;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    line-height: 46px;
    font-size: 40px;
}

.submit {
text-align:center;
}
.submit input{
outline: 0;
margin-top:30px;
background:rgba(255,255,255,.3);
border:1px dotted black;
padding:3px;
font-size:30px;
letter-spacing:3px;
border-radius: 10px;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    line-height: 46px;
	letter-spacing:.2em;
}

focus{
outline:none;
}
.result{
text-align:center;
width:900px;
margin-left:-10px;
}
.result input{
outline:none;
border:none;
background:none;
text-align:center;
font-family: 'Dosis', sans-serif;
font-weight: 400;

font-size: 50px;
}
.result #foalTwo{
font-size:20px;
width:600px;
}
.error {
color:red;
}

h3{
padding-top:10px;
letter-spacing:3px;
color: white;
font-size:35px;
margin-bottom:-10px;
}

.slide-out-div {
    padding: 20px;
    width: 200px;
    background: rgba(255,255,255,.3);
    border: none;
	border-radius: 10px;
	font-size:17px;
}      

a:link {
text-decoration: none;
color: black;
}

a:visited {
text-decoration: none;
color: black;
}

a:active {
text-decoration: none;
color: black;
}


#particles-js{
  width: 100%;
  height: 100%;
}

